
.home_logo img{
    width: 7rem;
}

.seaech_home {
    transform: translateY(1rem);
}
.tabs_home {
    transform: translate(12rem, 0.7rem);
    cursor: pointer;
}
.search_icon {
    background: url("../img/search.png") no-repeat center center;
    background-size: contain;
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: translate(0.5rem, -2.1rem);
}
#my-nav li.nav-item {
   background:#DCDCDC;
   border-right:1px solid #eee;
}
/* 轮播图 */
#carousel_imgs {
    box-shadow: 0px 0px 15px 0px #666;
}
.text_show{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:12rem;
    font-weight:900;
    background: rgba(39, 39, 39,0.3);
}


/* 个人中心 */
/* .background_person {
    background: #94fff4;
    height:100%;
    width:500px;
    z-index: -10;
    position: fixed;
    right:0px;
    top:0;
   
} */
/* 鼠标hover 下拉菜单 */
.my_dropdown_food li:hover{
    background: #666 !important;
    z-index: 99 !important;
}
.food_menu li{
    cursor: pointer;
    padding:5px 10px;
    border:1px solid transparent;
}
.food_menu_active {
    border:1px solid #ffcc66;
    background: #ffcc66;
    color:#fff;
}
/* 食谱图片 */
.food_details .food_box img{
    width:250px;
}
.food_details .food_box {
    width:280px;
    box-shadow: 0px 0px 15px 0px #666;
    position: relative;
    cursor: pointer;
}
.person_box img{
    width:250px;
}
.person_box {
    width:280px;
    box-shadow: 0px 0px 15px 0px #666;
    position: relative;
    cursor: pointer;
}
.person_box:hover .hide_info{
    display: block;
}
.food_details .food_box:hover .hide_info{
    display: block;
}
.hide_info{
    text-align: center;
    vertical-align: center;
    position: absolute;
    line-height: 150px;
    top:8%;
    left:15%;
    width:200px;
    height:150px;
    background: rgba(254, 228, 195,0.6);
    display: none;
    text-overflow: ellipsis;
    overflow:auto;
    word-wrap: break-word;
    font-size:16px;
}
.food_intro_img img{
    height:500px;
    width: 1024px;
    }
.my_rounded{
    border-radius: 1rem !important;
}
/* 竖分割线 */
.cur-off{
    height:100%;
    width:2px;
    background: #9AB9B0;
    display: inline-block;
}
.recommend_wrap{
    /* margin:4rem !important; */
}
/* 商店 */
.shop-line {
    width: 1120px;
    margin: auto;
    overflow: hidden;

}
.store_intro_img{
    height:300px;
    background: url("../img/img/img16.jpeg") no-repeat 100% 100%;
    background-size:100% ; 
}
.shop-box {
    width: 330px;
    height: 230px;
    background: white;
    margin-right: 20px;
    margin-left: 23px;
    margin-bottom: 50px;
    float: left;
    box-shadow: #cccccc 0px 0px 10px 5px;
    position: relative;
}

.shop-box:hover .shop-collect {
    display: block;
}
.shop-box:hover{
   transform: translateY(-20px);
   transition: 0.1s linear; 
}
.shop-box img {
    width: 100%;
    height:100%;
    text-align: center;
    overflow: hidden;
}

button {
    background: #269e5c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.shop-text {
    width: 100%;
    padding-left: 10px;
}

.shop-collect {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.548);
    display: none;
    cursor: pointer;
}
.shop-collect h1{
    color: white;
    font-size: 40px;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 20px);
    cursor: pointer;
}
.shop_collect_sub_sub h1{
    color: white;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.shop-collect img{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 30%;
    top: calc(50% - 20px);
    cursor: pointer;
}
.food_box{
    background: #fff;
}
.food_intro {
    background: #fff;
}
/* 个人 */

.hr_line{
    width:100%;
    height:2px;
    background: #5fdbd1;
}

.avator{
    width:100px;
    height:100px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    left:40%;
    top:-50px;
    background:  url("../img/logo/avator.jpeg") no-repeat;
}
.avator_info{
    position: absolute;
    left:40%;
    top:50px;
}
.avator_set{
    background: url("../img/logo/avator_set.svg") no-repeat;
    background-size:contain;
    width:300px;
    height:300px;
}
.my_dropdown_person li:hover{
    background:#ddd !important;
    cursor: pointer;
}
.food_box img{
   widows: 250px;
   height: 166px;
}
.shop-box-classify{
    width: 330px;
    height: 700px;
    background: white;
    margin-right: 20px;
    margin-left: 23px;
    margin-bottom: 50px;
    font-size:15px;
    float: left;
    box-shadow: #cccccc 0px 0px 10px 5px;
    position: relative;
    overflow: hidden;

}
.shop-box-classify img{
    width: 100%;
    height:250px;
    text-align: center;
    overflow: hidden;
    margin-bottom:5px;
}
.shop-box-classify p{
    line-height: 10px;
}
.user_info {
  position: absolute;
  left:50%;
  transform: translate(-50%);
}
.user_avator {
    transform: translate(20%);
}
.user_avator img{
   overflow: hidden; 
   border-radius: 50%;
   width:100px;
   height:100px;
}
/* .bg_user1 {
    background: #ffaeff !important;
    opacity: 0.9;
}
.bg_user2 {
    background: #ffaee7 !important;
    opacity: 0.9;
}
.bg_user3 {
    background: #e9aeff !important;
    opacity: 0.9;
}
.bg_user4 {
    background: #aeb9ff !important;
    opacity: 0.9;
}
.bg_user5 {
    background: #5fdbd1 !important;
    opacity: 0.9;
}
.bg_user6 {
    background: #d9f9cc !important;
    opacity: 0.9;
}
.bg_user7 {
    background: #aed6ff !important;
    opacity: 0.9;
}
.bg_user8 {
    background: #aef8ff !important;
    opacity: 0.9;
}
.bg_user9 {
    background: #aeffe7 !important;
    opacity: 0.9;
}
.bg_user10 {
    background: #aeffbf !important;
    opacity: 0.9;
}
.bg_user11 {
    background: #c7ffae !important;
    opacity: 0.9;
}
.bg_user12 {
    background: #ebffae !important;
    opacity: 0.9;
}
.bg_user13 {
    background: #fffeae !important;
    opacity: 0.9;
}
.bg_user14 {
    background: #ffd22e !important;
    opacity: 0.9;
}
.bg_user15 {
    background: #b7f0f0 !important;
    opacity: 0.9;
} */
.shop-box-classify .shop-text img{
    width:50px;
    height:50px;
    position: absolute;
    /* transform: translate(-50%,-50%); */
    left:85%;
    top:28%;
}

